*{
    background-color: aquamarine;
}
h1{
    color: white;
    background-color: black;
    text-transform: uppercase;
}

p{
    color: white;
    background-color: black;

}
#nina_img{
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}